<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-ChatBox</title>
    <!-- CSS only -->
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='indexcss.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class=" indexb container-fluid">
<!-- navbar -->


<!-- navbar end -->

    {% block body %}


    {% endblock %}
</body>



    
</body>
</html>